.products-container {
  display: flex;
}

.map-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 50px;
  padding-left: 20%;
}

.products-items {
  clear: both;
  margin: 40px;
  margin-top: 1%;
  width: 40%;
  height: 25%;
  /* border: 1px solid black; */
}

.products-title {
  position: absolute;
  margin-top: 5%;
  margin-left: 5%;
}

.fade-appear {
  opacity: 0;
  z-index: 1;
}
.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 500ms linear;
}
.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 2000ms linear 2000ms;
}
