.authy-hider {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 19em;
  margin-top: 25%;
  overflow: hidden;
  width: 100%;
}

.authy-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

input {
  background-color: #fdf8e2;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  text-align: left;
  width: 300px;
  height: 40px;
  margin-top: 10px;
  padding-left: 15px;
}

.authy-hider-sign-in {
  transform: translateY(160px);
}

.authy-hider-sign-up {
  transform: translateY(-140px);
}

.sup {
  display: flex;

  justify-content: center;
}

.sin {
  display: flex;
  justify-content: center;
}

.authy-button {
  height: 50px;
  width: 50px;
}
