.titles {
    display: flex;
    /* flex: 1; */
    height: 100%;
}

.title-box {
    justify-content: space-around;
    margin: 50%;
    width: 300px;
}

.drawer-container {
    position: absolute;
    z-index: 200;
}