.about-me-container {
  display: flex;
  background-color: black;
  /* height: 100vh; */
  flex-basis: 100%;
}

.left-am-container {
  flex: 1;
  display: flex;
  background-color: aliceblue;
  height: 100vh;
  flex-wrap: wrap;
  /* flex-basis: 35%; */
}

.am-title {
  flex: 1;
  /* background-color: yellow; */
  flex-basis: 100%;
  height: 15%;
  padding: 10%;
  padding-left: 20%;
}
.whoami {
  flex: 2;
  /* background-color: yellowgreen; */
  flex-basis: 100%;
  height: 25%;
  padding: 20%;
}
.right-am-container {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  background-color: aliceblue;
  max-height: 100vh;
}
.button-box {
  flex: 1;
  display: flex;
  background-color: brown;
  flex-basis: 100%;
  height: 10%;
  justify-content: center;
  align-content: space-around;
}
.link-box-1 {
  display: flex;
  background-color: transparent;
  height: 100%;
  flex-basis: 10%;
  border: 3px solid black;
  justify-content: center;
  padding: 1%;
  margin-left: 40%;
}
.possible-shopping-cart {
  display: flex;
  background-color: aliceblue;
  height: 100%;
  flex-basis: 10%;
  border: 3px solid black;
  justify-content: center;
  padding: 1%;
  margin-left: 10%;
}
.book-box {
  /* background-color: red; */
  display: flex;
  flex: 2;
  justify-content: center;
  justify-content: space-around;
  align-items: flex-end;
  align-content: space-between;
  flex-basis: 100%;
  height: 70%;
  margin-right: 5%;
  margin-left: 5%;
  padding-bottom: 1%;
  padding-right: 7%;
  border-bottom: 5px solid black;
  margin-bottom: 5%;
}

.book-1 {
  /* flex: 1; */
  overflow: hidden;
  display: flex;
  height: 95%;
  background-color: rgb(116, 77, 77);
  flex-basis: 5vw;
  bottom: 0;
  margin-right: -17%;
  transform: rotate(-2deg);
  transition: all 0.3s ease-in-out 0s;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  border-radius: 3px;
  padding-left: 1%;
  padding-bottom: 1%;
}
.book-1:hover {
  transform: rotate(-0deg);
}
.book-1-title {
  color: white;
  text-decoration: none;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  /* margin-top: -200%; */
}

.book-2 {
  /* flex: 2; */
  /* flex-shrink: 0; */
  /* display: flex; */
  overflow: hidden;
  height: 95%;
  background-color: rgb(49, 40, 40);
  flex-basis: 4vw;
  margin-right: -17%;
  transform: rotate(2deg);
  transition: all 0.3s ease-in-out 0s;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}
.book-2:hover {
  transform: rotate(3deg);
}
.book-2-title {
  color: white;
  text-decoration: none;
  margin-top: 40%;
}
a {
  text-decoration: none;
}
.book-3 {
  /* flex: 3; */
  overflow: hidden;
  display: flex;
  height: 70%;
  background-color: rgb(122, 66, 66);
  flex-basis: 14%;
  margin-right: -17%;
  transform: rotate(-4deg);
  transition: all 0.3s ease-in-out 0s;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}
.book-3:hover {
  transform: rotate(-3deg);
}
.book-3-title {
  color: white;
  text-decoration: none;
}
.book-4 {
  /* flex: 2; */
  overflow: hidden;
  display: flex;
  height: 50%;
  background-color: rgb(49, 40, 40);
  flex-basis: 5%;
  margin-right: -17%;
  border-radius: 3px;
  transition: all 0.3s ease-in-out 0s;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  align-items: center;
  justify-content: center;
}
.book-4:hover {
  transform: rotate(1.5deg);
}
.book-5 {
  /* flex: 2; */
  overflow: hidden;
  display: flex;
  height: 85%;
  background-color: rgb(49, 40, 40);
  flex-basis: 8%;
  margin-right: -10%;
  border-radius: 3px;
  transform: rotate(4deg);
  transition: all 0.3s ease-in-out 0s;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  align-items: center;
  justify-content: center;
}
.book-5:hover {
  transform: rotate(3deg);
}
.vase {
  height: 60%;
  background-color: rgb(161, 12, 12);
  flex-basis: 25%;
  margin-right: -20%;
}
.line-separator {
  border-top: 1px solid white;
  min-width: 85%;
  writing-mode: sideways-rl;
  text-orientation: mixed;
  background-color: aqua;
  /* height: 5px; */
}
.line-separator-2 {
  border-top: 1px solid white;
  min-width: 85%;
  margin-right: 1%;
  margin-top: -150%;
}
.site-title {
  margin-top: -50%;
  margin-left: 3%;
}
a {
  height: 50%;
}
