.products-cart {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid black;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  flex-direction: row;
  overflow: hidden;
}
.cart-left-section {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  background-color: transparent;
}
.cart-right-section {
  height: 100%;
  width: 50%;
  /* background-color: olivedrab; */
  background-color: transparent;
}
.product-name {
  height: 5%;
  width: 100%;
  /* background-color: yellowgreen; */
}
.product-price {
  height: 5%;
  width: 100%;
  /* background-color: brown; */
}
.modal-close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1000;
  background-color: aqua;
  cursor: pointer;
}
