.new-landing-container {
  display: flex;
  /* position: relative; */
  /* height: 200vh; */
}
.navie {
  flex-basis: 100%;
  background-color: aqua;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  border-bottom: 3px solid black;
  z-index: 250;
}
.left-side {
  display: flex;
  flex-direction: column;
  position: fixed;
  margin-top: 56px;
  left: 0;
  width: 20%;
  background-color: blanchedalmond;
  height: 100vh;
}
.right-side {
  position: fixed;
  display: flex;
  margin-top: 56px;
  right: 0;
  width: 80%;
  background-color: yellow;
  height: 100vh;
  border-top: 3px solid black;
  border-left: 3px solid black;
}
.paragraph {
  height: 40%;
  padding: 10%;
  padding-top: 55%;
  background-color: blue;
}
.imgg {
  height: 50%;
  padding: 10%;
  background-color: blueviolet;
  border-top: 3px solid black;
}

.hover-title {
  margin-top: 10%;
  margin-left: 10%;
  height: 5%;
  cursor: pointer;
  font-size: 100px;
}

.toolbar-navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}
.toolbar-logo {
  margin-left: 1rem;
}

.toolbar-logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}
/* / */
.spacer {
  flex: 1;
}

.toolbar-navigation-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.toolbar-navigation-items li {
  padding: 0 0.5rem;
}

.toolbar-navigation-items a {
  color: white;
  text-decoration: none;
}

.toolbar-navigation-items a:hover,
.toolbar-navigation-items a:active {
  color: #fa923f;
}
