.modal {
  z-index: 100;
  position: fixed;
  top: 22vh;
  left: 10%;
  width: 80%;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 8px;
}

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}

.cart-wrangler {
  display: flex;
}
.modal-styles {
  position: "fixed";
  top: "50%";
  left: " 50%";
  transform: "translate(-50%, -50%)";
  background-color: "#FFF";
  padding: "25%";
  z-index: 1000;
}
.overlay-styles {
  position: "fixed";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: "rgba(0, 0, 0, .7)";
  z-index: 1000;
}
