@media (min-width: 768px) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}

.cart-wrangler {
  display: flex;
}

.modal-styles {
  position: "fixed";
  top: "50%";
  left: " 50%";
  transform: "translate(-50%, -50%)";
  background-color: "#FFF";
  padding: "25%";
  z-index: 1000;
}

.overlay-styles {
  position: "fixed";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: "rgba(0, 0, 0, .7)";
  z-index: 1000;
}

.modal-close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1000;
  background-color: aqua;
  cursor: pointer;
}

.modal-fade-appear {
  opacity: 0;
  z-index: 1;
}

.modal-fade-appear.modal-fade-appear-active {
  opacity: 1;
  transition: opacity 300ms linear;
}

.modal-fade-enter {
  opacity: 0;
  z-index: 1;
}

.modal-fade-enter.modal-fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms linear 1000ms;
}